.menu {
  list-style: none;
  margin: 10px;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 1;
}

.menu li {
  display: inline;
  margin: 0 10px;
}

.menu button,
.menu .btn {
  background-image: linear-gradient(to left, #434a54, #141821);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: box-shadow 400ms;
  width: auto;
}

.menu button.contact,
.menu .btn.contact {
  background-image: linear-gradient(258deg, #ec8a38, #e53e3e 46%, #805ad5);
}

.menu button:hover,
.menu .btn:hover {
  box-shadow: 0 0 13px -1px black;
}
